.btn-transparent {
    width: 45% !important;
    background: transparent;
    color: #F2F2F2;
    border-radius: 0px;
}

.btn-transparent:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
}

.connection-error {
    opacity: 0.6;
}

.connection-input {
    height: 40px;
}

.connection-button {
    height: 40px;
}

@media (min-width: 768px) {
    #register-input-email {
        margin-top: -6.3% !important;
    }
}
