.course-sheet-image {
    height: 110px;
    width: 80px;
}

.course-sheet-presentation {
    overflow: scroll;
    max-height: 100px;
}

.course-sheets-section {
    overflow: scroll;
    max-height: 350px;
}

.course-sheet-link:hover {
    color: #27276a !important;
    text-decoration: none !important;
    cursor: pointer;
}

@media (max-width: 575px) {
    .course-sheet-label {
        font-size: 20.2px;
    }
}

@media (min-width: 576px) {
    .course-sheet-label {
        font-size: 22.4px;
    }
}

@media (min-width: 768px) {
    .course-sheet-label {
        font-size: 24px;
    }
}

.course-sheet-link:active {
    text-decoration: none !important;
}

.react-pdf__Document {
    width: 100% !important;
}

.react-pdf__Page {
    width: 100% !important;
}
