.pdf-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Document {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 575px) {
    .react-pdf__Page__canvas {
        width: 110% !important;
        height: 5% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .react-pdf__Page__canvas {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .react-pdf__Page__canvas {
        margin-left: auto !important;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .react-pdf__Page__canvas {
        margin-left: auto !important;
        margin-right: auto;
    }
}

.react-pdf__Page__annotations {
    height: 0;
}

@media (max-width: 575px) {
    .dragged-file {
        width: 100px;
        height: 100px;
        border-radius: 70px;
    }
}

@media (min-width: 576px) {
    .dragged-file {
        width: 128px;
        height: 128px;
        border-radius: 70px;
    }
}

@media (min-width: 768px) {
    .dragged-file {
        width: 128px;
        height: 128px;
        border-radius: 70px;
    }
}

@media (min-width: 992px) {
    .dragged-file {
        width: 128px;
        height: 128px;
        border-radius: 70px;
    }
}

.not-dragged-file {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e6e6e6;
    width: 50%;
    height: 50%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    .not-dragged-file {
        width: 50%;
    }
}

@media (min-width: 701px) {
    .not-dragged-file {
        width: 40%;
    }
}

.file-upload {
    width: 100%;
}

@media (min-width: 576px) {
    .file-upload {
        height: 92%;
    }

    .file-upload-content {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .file-upload {
        height: 92%;
    }

    .file-upload-content {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .file-upload {
        height: 68%;
    }

    .file-upload-content {
        height: 140%;
    }
}

@media (max-width: 575px) {
    .pdf-file-icon-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .pdf-file-icon-container {
        width: 37%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .pdf-file-icon-container {
        width: 28%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .pdf-file-icon-container {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
}

#dropbox-icon {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
