.pdf-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Document {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 575px) {
    .react-pdf__Page__canvas {
        width: 112% !important;
        height: 10% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .react-pdf__Page__canvas {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .react-pdf__Page__canvas {
        margin-left: auto !important;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .react-pdf__Page__canvas {
        margin-left: auto !important;
        margin-right: auto;
    }
}

.react-pdf__Page__annotations {
    height: 0;
}

.dragged-file {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.not-dragged-file {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e6e6e6;
    width: 50%;
    height: 50%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    .not-dragged-file {
        width: 50%;
    }
}

@media (min-width: 701px) {
    .not-dragged-file {
        width: 40%;
    }
}

.file-upload {
    width: 100%;
}

@media (min-width: 768px) {
    .file-upload {
        height: 83%;
    }

    .file-upload-content {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .file-upload {
        height: 50%;
    }

    .file-upload-content {
        height: 130%;
    }
}
