.hashtag {
    font-size: 1.1em;
    color: #ffffff;
    font-weight: bold;
}

.hashtag-box {
    margin-top: -2px !important;
    background-color: #3c3ca0;
    opacity: 0.9;
    z-index: 2;
}

.cross {
    width: 10px;
    height: 10px;
}

.cross:hover {
    cursor: pointer;
}


#add-hashtags {
    position: relative;
    z-index: 0;
    text-indent: 16px;
    font-size: 14px;
    color: #a6a6a6;
}

#add-hashtags:active {
    position: relative;
    z-index: 0;
    text-indent: 16px;
    font-size: 14px;
    color: #a6a6a6;
}

#hashtag-label {
    z-index: 1;
    color: #a6a6a6;
    margin-left: 10px;
}

#hashtag-placeholder {
    position: absolute;
    left: 23px;
    top: 9px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    min-height: 20px;
}

@media screen and (max-width: 576px) {
    #hashtag-placeholder {
        top: 14px;
    }
}

.hashtag-input-box {
    margin-bottom: -31px !important;
}

.hashtag {
    margin-top: 3px !important;
    padding-top: 0 !important;
}

@media screen and (max-width: 576px) {
    .hashtag {
        margin-top: 8px !important;
        padding-top: 0 !important;
    }
}
