.message-body {
    overflow: scroll;
    max-height: 100px;
}

.messages-list {
    overflow: scroll;
    max-height: 350px;
}

#message-input {
    text-align: left !important;
    height: 44px;
    font-size: 16px;
    background-color: #6669c8;
    border-color: #6669c8;
    caret-color: #ffffff;
    color: #ffffff;
}

#message-input::placeholder {
    color: #ffffff;
}
