.personal-icon {
    width: 128px;
    height: 128px;
    border-radius: 70px;
}

.swal-title {
    color: #5757e7;
}

.swal-text {
    color: #5757e7;
}

.swal-button--confirm {
    background-color: #5757e7;
}

.swal-button:not([disabled]):hover {
    background-color: #27276a;
}

.swal-button--cancel {
    color: #ff0000;
}

.swal-button--cancel:not([disabled]):hover {
    background-color: #dfdfdf !important;
}

.swal-icon--warning__body {
    background-color: #5757e7;
}

.swal-icon--warning__dot {
    background-color: #5757e7;
}

@keyframes pulseWarning {
    0% {
        border-color: #5757e7;
    }

    100% {
        border-color: #8282ed;
    }
}
