.course-sheet-image {
    height: 110px;
    width: 80px;
}

.course-sheet-presentation {
    overflow: scroll;
    max-height: 100px;
}

.course-sheets-section {
    overflow: scroll;
    max-height: 350px;
}

.course-sheet-link:hover {
    color: #27276a !important;
    text-decoration: none !important;
    cursor: pointer;
}

.course-sheet-link:active {
    text-decoration: none !important;
}