.pdf-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Document {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.react-pdf__Page__canvas {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .react-pdf__Page__canvas {
        margin-left: 0 !important;
    }
}

.react-pdf__Page__annotations {
    height: 0;
}

.dragged-logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

@media (max-width: 700px) {
    .not-dragged-logo {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: #e6e6e6;
        width: 50%;
        height: 50%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 701px) {
    .lobby-logo {
        width: 128px !important;
        height: 128px !important;
        border-radius: 70px !important;
    }
}

@media (min-width: 993px) {
    .lobby-logo {
        width: 128px !important;
        height: 128px !important;
        border-radius: 70px !important;
    }
}

@media (min-width: 1201px) {
    .lobby-logo {
        width: 128px !important;
        height: 128px !important;
        border-radius: 70px !important;
    }
}
