.lobby-summary-list {
    overflow: scroll;
    max-height: 100px;
}

.lobby-description {
    overflow: scroll;
    max-height: 100px;
}

.edit-lobby-button {
    color: white;
    background: transparent;
    border-color: #ffffff;
}

.edit-lobby-button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
}
